body {
    background-color: #f5f5f5;
  }
  .movie-text {
    text-align: center;
    margin: 25px 25px;
    font-size: 40px;
  }
   .movie-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    padding: 5px 5px;
    width: 300px;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .form-group .group-container {
    padding: 5px 5px;
  }

  .submit-button {
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    height: 32px;
    cursor: pointer;
  }
  button:disabled {
    background-color: grey;
  }
  .error-message {
    font-size: 16px;
    color: red;
    width: 89%;
  } 

  .movies-section {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .movie-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .movie-list-buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie-list-buttons {
    width: 45px;
    height: 25px;
  }