.user-info {
    display: flex;
    flex-direction: column;
}

.user-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-header {
    font-size: 20px;
    padding: 20px 0px;
    text-align: center;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.submit-edit {
    padding: 5px 15px;
}